doctype html
html
    head
        title #{title}
        include includes/meta
        link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/bootstrap.base.css')
body
    include includes/header
    script(src='/lib/jquery-dist/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/base.js')