doctype html
html
    head
        title #{title}
        include includes/meta
        link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/bootstrap.base.css')
body
    include includes/header
    #slidershow.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#slidershow" data-slide-to="0")
            li(data-target="#slidershow" data-slide-to="1")
            li(data-target="#slidershow" data-slide-to="2")
            li(data-target="#slidershow" data-slide-to="3")
            li(data-target="#slidershow" data-slide-to="4")
        .carousel-inner
            .item.active
                a(href="javascript:;")
                    img(src="/imgs/T1.QYjBgVT1RXrhCrK.jpg" alt="T1.QYjBgVT1RXrhCrK")
            .item
                a(href="javascript:;")
                    img(src="/imgs/T1lVh_ByJv1RXrhCrK.jpg" alt="T1lVh_ByJv1RXrhCrK")
            .item
                a(href="javascript:;")
                    img(src="/imgs/T1UbZ_B5Vv1RXrhCrK.jpg" alt="T1UbZ_B5Vv1RXrhCrK")
            .item
                a(href="javascript:;")
                    img(src="/imgs/T1xzJgBm_v1RXrhCrK.jpg" alt="T1xzJgBm_v1RXrhCrK")
            .item
                a(href="javascript:;")
                    img(src="/imgs/T12Fd_BbxT1RXrhCrK.jpg" alt="T12Fd_BbxT1RXrhCrK")
        a.left.carousel-control(href="#slidershow" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevrom-left
        a.right.carousel-control(href="#slidershow" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevrom-right
    .container.goods-list
        .row
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")
            .col-lg-2.col-md-3.col-sm-4.col-xs-6
                img(src="/imgs/T1x2JgBXhv1RXrhCrK.jpg" alt="T1x2JgBXhv1RXrhCrK")











    script(src='/lib/jquery-dist/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/base.js')