DOCTYPE html
html lang="en"
    head
        include includes/meta.pug
        title FullPage
        meta(name="description",content="singlepage power by fullpage")
        meta(name="keywords",content="singlepage,fullpage")
    body
        hello hello world