doctype html
html(lang="en")
    head
        include includes/meta.pug
        title FullPage
        meta(name="description",content="singlepage power by fullpage")
        meta(name="keywords",content="singlepage,fullpage")
        link(rel="stylesheet" href="public/build/entry.css")
    body
        #menu MENU
        #full
            .section.fp-auto-height.header
                h2 HEADER
            .section 1
            .section 2
            .section
                .slide  3.1
                .slide  3.2
                .slide  3.3
                .slide  3.4
            .section 4
            .section 5
            .section.fp-auto-height.footer
                h2 FOOTER
        script(src="public/js/jquery.min.js")
        script(src="public/js/jquery.fullpage.js")
        script(src="public/build/entry.js")